<div id="loading" class="spinner_border text-primary" style="display:none"></div>
<!-- Content Column -->
<div class="d-sm-flex align-items-center justify-content-between mb-2">
    <h1 class="h3 mb-0 text-gray-800">ใบเสนอราคา</h1>
    
</div>
<div class="row" style="color: black;">
    <div class=" col-lg-12 mb-4">
        <!-- Project Card  -->
        <div class="card shadow mb-4">
            <table border="0" style="margin:10px">
                <tr>
                    <td colspan="6" align="center"><img src="./img/banner_2.jpg" width=""></td>
                </tr>
                <tr>
                    <td colspan="6" align="center" style="font-weight: bold;">Quotation/ใบเสนอราคา/ใบยืนยันการรับบริการ</td>
                </tr>
                <tr>
                    <td width="10%" style="font-weight: bold;">เรียน</td>
                    <td width="40%"><input type="text" class="form-control" name="c_manager" id="c_manager"></td>
                    <td width="10%" style="font-weight: bold;">เลขที่ เอ็นที</td>
                    <td width="40%"><input type="text" class="form-control" name="b_code" id="b_code"></td>
                </tr>
                <tr>
                    <td width="10%" style="font-weight: bold;">หน่วยงาน</td>
                    <td width="40%"><input type="text" class="form-control" name="c_name" id="c_name"></td>
                    <td width="10%" style="font-weight: bold;">วันที่</td>
                    <td width="40%"><input id="start_date" type="text" class="form-control" placeholder="วันที่ออกหนังสือ"></td>
                </tr>
                <tr>
                    <td width="10%" style="font-weight: bold;">ติดต่อ</td>
                    <td width="40%"><input type="text" class="form-control" name="c_tel" id="c_tel"></td>
                    <td width="10%" style="font-weight: bold;">พนักงานขาย</td>
                    <td width="40%"><input type="text" class="form-control" name="e_id" id="e_id"></td>
                </tr>
                <tr>
                    <td width="10%" style="font-weight: bold;">โทรศัพท์</td>
                    <td width="40%"><input type="text" class="form-control" name="c_phone" id="c_phone"></td>
                    <td width="10%" style="font-weight: bold;">โทรศัพท์</td>
                    <td width="40%"><input type="text" class="form-control" name="e_tel" id="e_tel"></td>
                </tr>
                <tr>
                    <td width="10%" style="font-weight: bold;">E-mail</td>
                    <td width="40%"><input type="email" class="form-control" name="c_email" id="c_email"></td>
                    <td width="10%" style="font-weight: bold;">โทรสาร</td>
                    <td width="40%"><input type="text" class="form-control" name="e_fax" id="e_fax"></td>
                </tr>
                <tr>
                    <td width="10%" style="font-weight: bold;">รูปแบบบริการ</td>
                    <td width="40%">บริการ Fiber2U</td>
                    <td width="10%" style="font-weight: bold;">E-mail</td>
                    <td width="40%"><input type="text" class="form-control" name="e_email" id="e_email"></td>
                </tr>
                <tr>
                    <td colspan="6">
                        <table border="1" style="width:100%" id="lst_product">
                            <tr>
                                <td align="center" width="10%" rowspan="2">ลำดับ</td>
                                <td align="center" width="20%" rowspan="2">บริการ</td>
								<td align="center" width="20%" rowspan="2">รายการ</td>
								
                                <td align="center" width="20%" colspan="3">ค่าบริการ</td>
								<td align="center" width="10%" rowspan="2">รูปแบบการชำระ</td>
								<td rowspan="2"></td>
                            </tr>
                            <tr>
								<td align="center">จำนวน</td>
                                <td align="center">ต่อหน่วย</td>
                                <td align="center">รวม</td>
                            </tr>
							<tr>
                                <td align="center"><input type="text" placeholder="ลำดับที่" style="width: 100%;"></td>
                                <td align="center"><input type="text" placeholder="บริการ" style="width: 100%;"></td>
								<td align="center"><input type="text" placeholder="รายการ" style="width: 100%;"></td>
                                <td align="center"><input type="text" placeholder="" style="width: 100%;"></td>
                                <td align="center"><input type="text" placeholder="" style="width: 100%;"></td>
                                <td align="center"><input type="text" placeholder="" style="width: 100%;"></td>
								<td align="center" width="5%"><input type="text" placeholder="" style="width: 100%;"></td>
								<td align="center" width="5%"><button class="btn btn-light" onclick="dup()">+</button></td>
                            </tr>
                        </table>
                    </td>
                   
                </tr>
            </table>
        </div>
    </div>
</div>

<link href="./css/datepicker.css" rel="stylesheet">
<script type="text/javascript" src="./js/bootstrap-datepicker.js"></script>
<script type="text/javascript" src="./js/bootstrap-datepicker-thai.js"></script>
<script type="text/javascript" src="./js/locales/bootstrap-datepicker.th.js"></script>
<script type="text/javascript">
	// -------------------------- onload ---------------------------//
	
	$("title").text(title());

	// ------------------------- function -------------------------//
	function dup(){
		let tr=`
							<tr>
								<td align="center"><input type="text" placeholder="ลำดับที่" style="width: 100%;"></td>
                                <td align="center"><input type="text" placeholder="บริการ" style="width: 100%;"></td>
								<td align="center"><input type="text" placeholder="รายการ" style="width: 100%;"></td>
                                <td align="center"><input type="text" placeholder="" style="width: 100%;"></td>
                                <td align="center"><input type="text" placeholder="" style="width: 100%;"></td>
                                <td align="center"><input type="text" placeholder="" style="width: 100%;"></td>
								<td align="center" width="5%"><input type="text" placeholder="" style="width: 100%;"></td>
								<td align="center" width="5%"><button class="btn btn-light" onclick="dup()">+</button></td>
							</tr>
		`;
		$('#lst_product tr:last').after(tr);
	}
</script>

